extends layout

block content
  header#splash-wrapper.dark-theme
    .logo-box
      img#donut-top(src='/images/primary-dark-donut-transparent.png' alt='Donut Lid')
      img#logo-body(src='/images/primary-dark-text-transparent.png' alt='Downtown Donuts')
    
    section.drag-hint(aria-hidden="true")
      .arrow-up
      span Swipe to open

  main#main-content
    section.hero
      h1 Freshly Baked, Daily.
      p The best donuts in the downtown area since 1992.