extends layout

block content
  header#splash-wrapper.dark-theme
    .logo-box
      img#donut-top(src='/images/primary-dark-donut-transparent.png' alt='Donut Lid')
      img#logo-body(src='/images/primary-dark-text-transparent.png' alt='Downtown Donuts')
    
    section.drag-hint(aria-hidden="true")
      .arrow-up
      span Swipe to open

  main#main-content
    section.hero-banner
      .hero-content
        h1.italianno Downtown Donuts
        p Family owned and operated since 1992

    section.comments-section
      h2 Customer Comments
      .testimonial-grid
        article.comment-card
          h3 John Doe
          .stars ★★★★☆
          p Best donuts in town!
        article.comment-card
          h3 Jane Smith
          .stars ★★★★★
          p The maple bars are life-changing.
        article.comment-card
          h3 Sam Wilson
          .stars ★★★★☆
          p Great coffee, better donuts.

    footer.visit-footer
      .visit-container
        h2 Visit us in person
        .visit-flex
          .map-placeholder
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5778.403547440875!2d-116.20355142261445!3d43.60234025571714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54aef8f67c7b20c9%3A0x24ab5b246f9bb356!2sBoise%20State%20University!5e0!3m2!1sen!2sus!4v1777489561878!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          .details
            address Address, City ST
            h3 Hours:
            ul.hours-list
              li <span>Monday</span> <span>6am - 10am</span>
              li <span>Tuesday</span> <span>6am - 10am</span>
              li <span>Wednesday</span> <span>6am - 10am</span>
              li <span>Thursday</span> <span>6am - 10am</span>
              li <span>Friday</span> <span>6am - 10am</span>
              li <span>Saturday</span> <span>8am - 12pm</span>
              li <span>Sunday</span> <span>Closed</span>
      
      .order-partners
        p Or Order online through our partners:
        .partner-links
          a.btn-partner(href="#") Uber Eats
          a.btn-partner(href="#") DoorDash