doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
  body
    nav.main-nav
      ul
        li: a(href='/') Home
        li: a(href='/menu') Menu
        li: a(href='/story') Our Story
        li: a(href='/testimonials') Testimonials
    block content
    