extends layout

block content
  h1 Our Menu
  p.intro Don't know what to get? Here is our menu!

  .menu-grid
    section.category-box
      h2 Classics
      ul
        li Glazed - 1.50
        li Chocolate - 2.50
        li Sprinkles - 2.00
        li Powdered - 1.50

    section.category-box
      h2 Specialties
      ul
        li Maple Bar - 2.50
        li Jelly Filled - 3.00
        li Boston Cream - 4.00

    section.category-box.full-width
      h2 Coffee
      ul
        li Latte - 2.00
        li Cappuccino - 2.50
        li Americano - 2.50
        li Espresso - 2.25