extends layout

block content
  #story-page
  .story-hero.old-photo
    .story-card
      h2 A Family Legacy since 1992
      p Downtown Donuts started in our grandmother's kitchen making quality donuts for our busy family.

  .story-hero.current-photo
    .story-card
      h2 How the tradition continues
      p Now 34 years later our children are behind the counter using the same time-tested recipes.