extends layout

block content
  section.legacy
    h1 A Family Legacy since 1992
    .image-placeholder { Old Action Image }
    p Downtown Donuts started in our grandmother's kitchen...
  
  hr

  section.modern-era
    h2 How the tradition continues
    .image-placeholder { Current Action Image }
    p Now 34 years later, our children are behind the counter using the same time-tested recipes.